<html>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/main.css"/>
  <head>
  </head>
  <body>
    <h1>{{title}}</h1>
    <div>This is real time online HTML Editor</div>
    <script src="/js/main.js"></script>
  </body>
</html>